.userInputOk {
	-fx-text-fill: green;
}

.userInputNotOk {
	-fx-text-fill: red;
}

.button {
	-fx-font-size: 24px;
	-fx-padding: 10px;
}

.label {
	-fx-font-size: 24px;
	-fx-padding: 10px;
}

.text-field {
	-fx-font-size: 24px;
	-fx-padding: 10px;
}