.label {
  -fx-font-style: italic;
  -fx-font-weight: bold;
  -fx-padding: 3px;
  -fx-max-width: 1000px;
  -fx-max-height: 1000px;
}

.col-hint {
  -fx-alignment: bottom-center;
}

.row-hint {
   -fx-alignment: center-right;
}

.grid {
    -fx-background-color: black ;
    -fx-padding: 10 ;
}

/* Cell formatting inspired by https://stackoverflow.com/questions/32892646/adding-borders-to-gridpane-javafx#32893377 */

.grid-cell {
    -fx-background-color: darkgray, white ;
    -fx-background-insets: 0, 0 1 1 0 ;
}

.grid-cell.highlight-row {
    -fx-background-color: darkgray, white;
    -fx-background-insets: 0, 1 1 2 0 ;
}

.grid-cell.highlight-col {
    -fx-background-color: darkgray, white;
    -fx-background-insets: 0, 0 2 1 1 ;
}

.dark-grid-cell {
    -fx-background-color: lightgray, black ;
    -fx-background-insets: 0, 0 1 1 0 ;
}

.dark-grid-cell.highlight-row {
    -fx-background-color: lightgray, black;
    -fx-background-insets: 0, 1 1 2 0 ;
}

.dark-grid-cell.highlight-col {
    -fx-background-color: lightgray, black;
    -fx-background-insets: 0, 0 2 1 1 ;
}

.label.correct {
	-fx-background-color: honeydew;
}
